<div id="chat-wrapper">
    <div class="chat-messages" data-target="chat.messages">
        <%= render partial: 'messages/message', collection: messages, as: :message %>
    </div>
    <div class="back-scroll">
        <span>↓</span>
    </div>
    <div class="chat-message-form">
        <%= render partial: 'messages/form', locals: { message: message } %>
    </div>
</div>