<%= form_with model: message, 
    data: {
        action: 'ajax:error->chat#addError'
    },
    remote: true do |f| %>
    <%= f.text_area :body %>
    <div class="chat-options">
        <div class="smiles">☺</div>
        <div class="message-info">0/200</div>
        <%= f.submit "Отправить", class: 'chat-btn' %>
    </div>
<% end %>