<%= form_with model: message, 
    data: {
        controller: "trix-no-upload-plugin chat-form",
        action: 'ajax:error->chat#addError
                 ajax:success->chat-form#clearText',
        chat_form_dropdown_smiles: 'close'
    },
    remote: true do |f| 
%>
    <input id="<%= f.object.class.to_s.downcase %>" 
           type="hidden" 
           name="message[body]"
    >
    <trix-editor id="message_body"
                 class="trix-content"
                 data-target="chat-form.editor"
                 data-action="trix-change->chat-form#convert
                              trix-change->chat-form#showCountSymbols
                              keydown->chat-form#inputKeyword"
                 input="<%= f.object.class.to_s.downcase %>"
    >
    </trix-editor>
    <div class="chat-options">
        <div class="smiles">
            <span id="chat-smiles-btn" data-action="click->chat-form#dropSmiles">☺</span>
            <div class="chat-smiles-dropdown" data-target="chat-form.smilesDropdown">
                <div class="smile" data-code=":smiley:" data-action="click->chat-form#setSmile">😀</div>
                <div class="smile" data-code=":stuck_out_tongue_winking_eye:" data-action="click->chat-form#setSmile">😜</div>
                <div class="smile" data-code=":bowtie:" data-action="click->chat-form#setSmile">🤵</div>
            </div>
        </div>
        <div class="message-info" data-target="chat-form.countSymbols">0/200</div>
        <%= f.submit "Отправить", class: 'chat-btn', id: 'chat-btn'%>
    </div>
<% end %>   