<div class="message" id="message-<%= message.id %>">
    <div class="message-info">
        <%= link_to message.user.name, message.user %>: <%= message.timestamp %>    
    </div>
    <div class="message-body"><%= sanitize(message.body) %></div>
</div>
