<div class="message">
    <span class="text-muted"><%= link_to message.user.name, message.user %>: <%= message.timestamp %></span><br>
    <div class="message-body"><%= sanitize(message.body) %></div>
</div>
