<div class="post-comment-form">
  <%= form_for [comment.commentable, comment], remote: true do |f| %>
    <%= f.hidden_field :parent_id %>
    <%= f.text_area :content, label: false, placeholder: (f.object.parent_id.nil? ? 'Напишите комментарий...' : 'Ответить...') %>
    <div class="float-right">
        <%= f.submit class: 'post-comment-btn', data: { disable_with: 'Загрузка' } %>
        <span class='post-comment-form-close' data-reply = 'true'>Закрыть</span>
    </div>
  <% end %>
</div>
  