
<div class="post-comment-form">
  <%= form_for [comment.commentable, comment], remote: true do |f| %>
      <%= f.text_area :content, label: false, placeholder: (f.object.parent_id.nil? ? 'Напишите комментарий...' : 'Ответить...') %>
      <div class="float-right">
          <%= f.submit class: 'post-comment-btn' %>
          <span class='post-comment-form-close' data-reply = '<%= comment.parent_id.present? %>'>Закрыть</span>
      </div>
  <% end %>
</div>
  