<% provide :form_controller_action, "comment#updateComment" %>
<% provide :edit_btn_text, "Сохранить" %>

<div class="edit-comment-form"> 
    <%= render partial: 'comments/form', locals: { comment: @comment } %>
</div>
