<%= render 'shared/sidebar' %> 
<% if flash[:success] %>
    <div class="flash">
        <%= render 'shared/flash_messages', attribute: 'success' %>
    </div>
<% end %>
<div id="articles-wrapper">
    <%= render @article %>
</div>

