<div class="content">
    <% if @posts.any? %>
        <%= render partial: 'posts/post', collection: @posts, as: :post, spacer_template: 'posts/post_spacer' %>
    <% else %>
        <div class="message">Нет записей</div>
    <% end %>
</div>