<div id="chat-wrapper" data-controller="chat">
    <div class="chat-messages" data-target="chat.messages">
        <%= render partial: 'messages/message', collection: @messages, as: :message %>
    </div>
    <div class="chat-message-form">
        <%= render partial: 'messages/form', object: @message %>
    </div>
</div>