<div id="posts-wrapper">
    <% if @posts.any? %>
        <%= render partial: @posts, spacer_template: "posts/post_spacer" %>
    <% else %>
        <div class="message">Нет записей</div>
    <% end %>
</div>


