@import 'tags';

#tags-wrapper{
    width: 45em;
    min-height: 10em;
    margin: 0 auto;
    margin-top: 20vh;
    margin-bottom: 3em;
    background-color: rgb(230, 230, 230);
    border: 0.1em solid rgb(124, 124, 124);
    border-radius: 0.4em;
    #tags{
        width: 45em;
        display: flex;
        flex-wrap: wrap;
        padding: 1em;
        align-items: center;
        a{
            @extend %post-tag;
            margin-left: 1em;
            margin-bottom: 1em;
            font-size: 1.2em;
        }
    }
}