/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.turbolinks-progress-bar {
    height: 5px;
    background-color: rgb(79, 255, 79);
}

#common {
    display: flex;
    flex-direction: column;
}

#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(40, 60, 70);
    color: white;
    height: 50px;
    // background-image: url(assets/images/confetti.svg) center center/5rem repeat;

    span {
        width: 300px;
        text-align: center;
    }

    nav {
        width: 50%;
        text-align: center;
        font-weight: bolder;

        a {
            color: white;
        }

        a:hover {
            background-color: rgb(118, 153, 170);
        }
    }    
}

#add-section {
    width: 30%;
    text-align: center;

    a {
        background-color: white;
        padding: 5px; 
        font-weight: bold;
    }
}

#account {
    width: 20%;
    text-align: center;
    font-weight: bold;
    user-select: none;

    span {
        cursor: pointer;
        color: white;
        border: 1px solid white;
        padding: 5px;
    }
}

.account-dropdown {
    display: none;
}

.account-active {
    display: block;
    position: absolute;

    ul {
        background-color:  white;
        border: 1px solid rgb(173, 173, 173);
        position: relative;
        margin: 0;
        padding: 0;
        top: 9px;
        left: 72px;
    
        li {
            list-style: none;
            padding: 3px;
        }

        li:hover {
            background-color: rgb(223, 223, 223);
        }
    }
}

#main {
    display: flex;
    flex-direction: row;
}

#menu {
    display: flex;
    flex-direction: column;
    flex: 0.6;
    min-width: 200px;
    background-color: rgb(246, 242, 239);

    #sections-enum {
        display: flex;
        flex-direction: column;
        margin-top: 25px;
        margin-left: 25px;
        background-color: white;
        border: 1px solid rgb(219, 217, 217);
        border-radius: 5px;

        a {
            color: rgb(40, 60, 70);
            margin: 4px;
            border-bottom: 1px solid white;
            text-align: center;
        }

        a:hover {
            color: rgb(27, 106, 207);
        }
    }
}

#content {
    display: flex;
    flex-direction: column;
    min-width: 600px;
    background-color: rgb(246, 242, 239);
    min-height: 93vh;
}

#chat {
    display: flex;
    flex: 1;
}