// Place all the styles related to the chat controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#chat-wrapper {
    margin-top: 15px;
    margin-right: 20px;
}

.chat-messages {
    overflow: auto;
    height: auto;
    max-height: 70vh;
    border-top: 1px solid rgb(219, 217, 217);
    border-bottom: 1px solid rgb(219, 217, 217);
    max-width:  346px;

    .message {
        background-color: rgb(255, 255, 255);
        border: 1px solid rgb(219, 217, 217);
        border-radius: 10px;
        margin-top: 10px;
        padding: 5px;
        margin-left: 0;
        margin-right: 0;

        span {
            font-size: 13px;
            color: rgb(135, 116, 110);

            a {
                color: rgb(230, 81, 50);
            }
        }
    }

    .message-body {
        color: black;
        padding: 5px;
        word-wrap: break-word;
        font-size: 14px;
    }
}

.back-scroll {
    position: relative;
    float: right;
    margin-right: 50px;

    .btn-scroll-down {
        display: none;
    }

    .active {
        display: block;
        position: absolute;
        text-align: center;    
        width: 25px;
        height: 25px;
        bottom: 30px;
        color: white;
        background-color: rgb(49, 155, 92);
        border-radius: 30px;
        cursor: pointer;
        user-select: none;
    }
}


.chat-message-form {
    background-color: white;
    border: 1px solid rgb(219, 217, 217);
    margin-top: 10px;

    form {
        padding: 10px;
    }

    trix-toolbar {
        display: none;
    }

    .trix-content {
        resize: none;
        border: none;
        width: 325px;
        max-height: 2em;
        overflow: auto;
        border-bottom: 1px solid rgb(219, 217, 217);
        word-wrap: break-word;
        color: black;
        margin: 0;
        padding: 0;
    }
}

.chat-options {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;

    .chat-btn {
        border: none;
        background-color: #FFE000;
        color: #1D2D35;
        cursor: pointer;
        padding: 5px;
        font-weight: bold;
    }
}
