.comment-spacer {
    height: 20px;
}

// POST COMMENT BODY

.comments-wrapper {
    border-top: 1px solid rgb(177, 177, 177);
    border-bottom: 1px solid rgb(177, 177, 177);
    padding-top: 15px;
    margin-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.comment-info {
    font-size: 0.95rem;
    color: rgb(135, 116, 110);
}

.comment-content {
    padding: 13px;
    padding-right: 0;
    word-wrap: break-word;

    a {
        text-decoration: none; 
    }

    a:hover { 
        text-decoration: underline;
        color: rgb(27, 106, 207); 
    } 
}

.comment-options {
    font-size: 0.95rem;

    a {
        background-color: rgb(230, 81, 50);
        color: white;
        border-radius: 20px;
    }
}

// POST COMMENTS FORMS

// .post-comment-create{
//     font-size: 1em;
// }

.comments-replies {
    padding: 0;
    margin: 0;
    margin-left: 1rem;
    margin-top: 20px;
}

.comment-reply {
    margin-bottom: 20px;
}

.edit-comment-form {
    margin-top: 10px;
}

.reply-comment-form {
    margin-top: 10px;
}

.comment-form {
    border: 0.1em solid rgb(236, 236, 236);
    border-radius: 0.2em;

    trix-toolbar {
        display: none;
    }

    .trix-content {
        resize: none;
        width: 98%;
        border: none;
        word-wrap: break-word;
        min-height: 1.6em;
    }

    .close-btn {
        cursor: pointer;
        color: #1D2D35;
        padding: 5px;
        font-size: 20px;
    }

    .comment-btn {
        border: none;
        background-color: #FFE000;
        color: #1D2D35;
        cursor: pointer;
        padding: 5px;
        font-weight: bold;
    }
}

.form-comment-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.form-comment-options-left {
    display: flex;
    flex-direction: row
}

.form-comment-options-count {
    margin-right: 10px;
    cursor: auto;
}

.comment-smiles-btn {
    cursor: pointer;
    font-size: 20px;
    padding: 5px;
}

.chat-smiles-dropdown {
    display: none;
}

.chat-smiles-dropdown-open {
    display: block;
    position: absolute;
}

.comment-smiles-active {
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: auto;
    flex-wrap: wrap;
    max-width: 200px;
    max-height: 150px;
    bottom: 30px;
    background-color: white;
    border: 1px solid rgb(219, 217, 217);

    .smile {
        position: relative;
        cursor: pointer;
        padding: 5px;
    }  
}




