.post-wrapper {
    padding: 10px;
    background-color: white;
}

// POST BODY 

.post-main-wrapper {
    
}

.post-content-wrapper {
    font-size: 1.2em;
    padding: 15px;
    padding-right: 0;
}

.post-options-likes-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

// POST COMMENT CREATE

.post-comment-form {
    margin-top: 10px;
}

// ETC

.post-spacer {
    height: 30px;
}