#posts-wrapper {
    margin: 70px;
    margin-right: 55px;
    margin-top: 25px;
    margin-bottom: 30px;
    width: 700px;
}

.post-wrapper {
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(219, 217, 217);
    border-radius: 10px;
}

// POST BODY 

.post-main-wrapper {
    
}

.post-info-section-wrapper {
    display: flex;
    flex-direction: row;
}

.post-info-wrapper {
    color: rgb(135, 116, 110);
    font-size: 0.95rem;

    a {
        font-size: 1rem;
    }
}

.post-section {
    margin-left: 10px;

    a {
        background-color: rgb(27, 106, 207);
        color: rgb(255, 255, 255);
        padding: 3px;
    }
}

.post-content-wrapper {
    font-size: 1.2em;
    padding: 15px;
    word-wrap: break-word;
    color:  #000000;

    a {
        text-decoration: none; 
    }

    a:hover { 
        text-decoration: underline;
        color: rgb(27, 106, 207); 
    } 

    .attachment__caption {
        display: none;
    }
}

.post-options-likes-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.post-options-wrapper {
    a {
        background-color: rgb(230, 81, 50);
        color: white;
        border-radius: 20px;
    }
}
// POST COMMENT CREATE

.post-comment-form {
    margin-top: 10px;
}

// POST NEW 

#post-new {
    background-color: white;
    width: 750px;
    border: 1px solid rgb(219, 217, 217);
    margin: 55px;
    margin-top: 30px;   
    padding: 21px;

    // POST FORM

    trix-editor {
        border: none;
        word-wrap: break-word;
        min-height: 50vh;
        padding: 10px;
        font-size: 20px;

        .attachment__caption {
            display: none;
        }

        .attachment {
            display: inline-block;
            position: relative;
            max-width: 100%;
            margin: 0;
            padding: 0;
        }

        .attachment--preview {
            padding: 1px;
            width: auto;
            text-align: center;
        }
    }

    #post-btn {
        border: none;
        background-color: #FFE000;
        color: #1D2D35;
        cursor: pointer;
        padding: 5px;
        font-weight: bold;
    }

}

.post-sections {
    user-select: none;
    margin-bottom: 16px;

    span {
        padding: 5px;
        width: 100px;
        font-size: 18px;
        background-color: rgb(49, 155, 92);
        color: rgb(255, 255, 255);
        cursor: pointer;
    }

    .selected {
        background-color: rgb(27, 106, 207)
    }
}

.sections-dropdown {
    display: none;
}

.active-sections {
    display: block;
    position: absolute;
    z-index: 1;
    
    ul {
        position: relative;
        margin: 0; 
        padding: 0;
        max-height: 300px;
        width: 150px;
        overflow: auto;
        top: 6px;
        background-color: white;
        border: 1px solid rgb(221, 220, 214);

        li {
            list-style-type: none; 
            text-align: center;
            padding: 0;
            margin: 0;
            margin-top: 5px;
            margin-bottom: 5px;
            color: rgb(27, 106, 207);
            cursor: pointer;
        }        
    }

    ul li:first-child {
        color: rgb(49, 155, 92); 
    }
}

// ETC

.post-spacer {
    height: 30px;
}