// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#session-login-form-wrapper{
    width: 25em;
    min-height: 15em;
    margin: 0 auto;
    margin-top: 5em;
    margin-bottom: 3em;
    background-color: rgb(230, 230, 230);
    border: 0.1em solid rgb(124, 124, 124);
    border-radius: 0.4em;
    #session-login-form{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        margin: 2em;
        margin-bottom: 1.5em;
        #session-login-form-data{
            display: flex;
            align-items: center;
            flex-direction: column;
            input{
                margin: 0.3em;
                padding: 0.2em;
                font-size: 1.2em;
            }
        }
        #session-login-form-options{
            margin-top: 0.5em;
            font-size: 1.1em;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 100%;
        }
        #session-login-form-btn{
            margin-top: 1em;
            padding: 0.2em;
            font-size: 1.2em;
            width: 10em;
        }
    }
}

