// // Place all the styles related to the users controller here.
// // They will automatically be included in application.css.
// // You can use Sass (SCSS) here: http://sass-lang.com/

// //user-show
// #user-account-wrapper{
//     margin: 2em; 
//     margin-top:1.5em;   
//     border: 0.1em rgb(158, 158, 158) solid;
//     border-radius: 0.3em;
//     background-color: rgb(224, 224, 224);
//     height: auto;
// }

// #user-account-info{
//     background-color: rgb(247, 247, 247);
//     padding: 1em;
//     border: 0.1em solid rgb(180, 180, 180);
//     border-radius:  0.3em;
// }

// #user-account-menu-actions{
//     background-color: rgb(247, 247, 247);
//     padding: 1em;
//     border: 0.1em solid rgb(180, 180, 180);
//     border-radius:  0.3em;
//     text-decoration: none;
//     ul{
//         list-style-type: none;
//         margin: 0;
//         padding: 0;
        
//     }
// }

// #user-account-main-wrapper{
//     display: flex;
//     margin: 1em;
//     display: flex;
//     flex-direction: row;
//     flex-flow: row wrap;
//     align-content: space-between;
//     justify-content: space-evenly;
// }

// #user-account-content-wrapper{
//     background-color: rgb(202, 191, 191);

//     border-top: 0.1em solid rgb(235, 235, 235);
//     padding-bottom: 1em;
// }
// // .article-main-wrapper{
    
// // }

// // .article-image-title-wrapper{
    
// // }

// // .article-image{
// //     background-color: rgb(255, 255, 255);
// //     min-height: 10em;
// //     min-width: 30em;
// //     border-bottom: none;
// // }

// // .article-title{
    
// //     text-align: center;
// //     padding: 0.5em;
// // }

// // .article-body{
// //     min-height: 5em;
// //     background-color: rgb(245, 245, 245);
// //     font-size: $article-content-font-size;
// //     padding: 0.7em;
// // }

// // .article-info-wrapper{
// //     padding: 0.5em;
// //     text-align: end;
// // }

// SHOW 

#user-account-wrapper {
    // margin: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: white;
    border: 1px solid rgb(219, 217, 217);
    border-radius: 10px;
    width: 700px;
}

#user-account-main-wrapper {
    padding: 20px;
    padding-bottom: 5px;
}

#user-account-info {
    display: flex;
    flex-direction: column;
}

#user-account-menu-actions {

    ul {
        display: flex;
        flex-direction: row;
        padding: 0;
        margin: 0;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;

        li {
            list-style: none;
        }
    }
}

.user-account-info-name { 
    font-size: 20px;
    font-weight: bold;
    color: rgb(29, 45, 53);
}

.user-account-info-created {
    font-size: 15px;
    color: rgb(135, 116, 110);
    margin: 10px;
    margin-left: 0;
}

#user-account-menu-actions {
    border-top: 1px solid rgb(219, 217, 217);

    ul { 
        margin-top: 3px;    
    }

    li {
        padding: 2px;
    }

    li:hover {
        a {
            color: rgb(230, 81, 50);
        }
         
        background-color: rgb(209, 209, 209);
    }
}

#user-account-content-wrapper {
    border-top: 1px solid rgb(219, 217, 217);
    width: 650px;
    margin: auto;
    padding-top: 10px;

    .content {
        padding: 15px;
        border-radius: 5px;
        margin-bottom: 15px;
    }

    .message {
        text-align: center;
        color: rgb(135, 116, 110);
        margin-bottom: 5px;
        margin-bottom: 0;
    }
}


// NEW

