<header id="header">
    <span>LOGO</span>
    <nav id="navigation">
        <%= link_to "Главная" %>
        <%= link_to "Новости", controller: 'articles', action: 'index' %>
        <%= link_to "Посты", controller: 'posts', action: 'index' %>
        <%= link_to "Справочник" %>
    </nav>
    <div id="account">
        <p>Account</p>
    </div>
</header>