<div id="menu">
    <div id="position-wrapper-menu">
        <div id="sections-enum">
            <% if @catalogs %>
                <%= link_to 'Все категории', catalogs_path %>
                <%= render partial: 'catalogs/catalog', collection: @catalogs, as: :catalog %>
            <% elsif @sections %>
                <%= link_to 'Все разделы', posts_path %>
                <%= render partial: 'sections/section', collection: @sections, as: :section %>
            <% end %>
        </div>
    </div>
</div>