<div id="notify" data-controller="notify">
    <div class='notify notify-active' data-action="notify@document->notify#addNotify" data-target="notify.notify" data-notify-interval="5000">
    </div>
</div>