<div id="notify" data-controller="notify" data-turbolinks-permanent>
    <div class='notify' data-action="notify@document->notify#addNotify" data-target="notify.notify" data-count="0" data-interval="5000">
    </div>
</div>